@charset "UTF-8";
@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

img, svg{
    vertical-align: baseline !important; /* 강제로 baseline으로 설정 */
    display: inline-block;
}
img{
    vertical-align: baseline !important; /* 강제로 baseline으로 설정 */
    display: inline-block;
}

* {
  margin: 0;
  padding: 0;
  vertical-align: top;
  border: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: #fffdf7;
  font-family: 'NanumSquareNeo-Variable';
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

.marquee_title {
  padding: 0 30px;
`  text-align: center;
}

.marquee_title h2 {
  font-size: 30px;
  color: #303131;
  margin-top: 5%;
  text-align: center;
  margin-bottom: 7%;
}

.icon_area {
  margin-top: 5%;
  position: relative;
}

.icon_area img {
  width: 30px;
  height: 30px;
}

.pause {
  position: absolute;
  right: 0;
}

.play {
  position: absolute;
  right: 0;
  display: none;
}

ul {
  display: flex;
  flex-wrap: no-wrap;
  align-items: center;
}

ul > li {
  margin: 0 20px;
}

ul > li > a > h3 {
  color: #fff;
  font-size: 16px;
  margin-bottom: 10px;
}

ul > li > a > span {
  color: #bbb;
  font-size: 13px;
}

ul > li.big > a > img {
  width: 200px;
  margin-bottom: 20px;
  transition: transform 0.3s;
}

ul > li.small > a > img {
  width: 150px;
  margin-bottom: 20px;
  transition: transform 0.3s;
}

ul > li:hover img {
  transform: scale(0.95);
  transition: transform 0.3s;
  filter: brightness(0.5);
}

.marquee_conts {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.marquee_conts2 {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.marquee_conts ul,
.marquee_conts2 ul {
  display: flex;
  flex-direction: row; 
  align-items: center;
}

.marquee_conts2 ul {
  flex-direction: row-reverse;
}


/* 메인 타이틀 */
a{text-decoration:none}
li{list-style:none}
a{text-decoration:none}
*, :after, :before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}

#inc01{
	padding-top:280px;
	height:600px;
	background-image: url('../image/mainbaner.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	font-family:'Pretendard'
}
#inc01 .big_txt {
    position: relative;
    padding-left:80px;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2;
    color: rgba(255,255,255,.2)
}

#inc01 .big_txt .b_txt {
    position: relative;
    width: max-content;
    background: linear-gradient(to right, #fff, #fff) no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 0%;
    transition: background-size cubic-bezier(.1,.5,.5,1) 0.5s
}

#inc01 .big_txt .brac_ket {
    display: block;
    position: absolute;
    left: 300px;
    bottom: -50px
}


:root{
  --background-dark: #2d3548;
  --text-light: rgba(255,255,255,0.6);
  --text-lighter: rgba(255,255,255,0.9);
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 64px;
  --width-container: 1200px;
}

.hero-section{
  align-items: flex-start;
  display: flex;
  min-height: 100%;
  justify-content: center;
  padding: var(--spacing-xxl) var(--spacing-l);
}

.card-grid{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: var(--spacing-l);
  grid-row-gap: var(--spacing-l);
  max-width: var(--width-container);
  width: 100%;
}

@media(min-width: 540px){
  .card-grid{
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media(min-width: 960px){
  .card-grid{
    grid-template-columns: repeat(4, 1fr); 
  }
}

.card{
  list-style: none;
  position: relative;
}

.card:before{
  content: '';
  display: block;
  padding-bottom: 150%;
  width: 100%;
}

.card__background{
  background-size: cover;
  background-position: center;
  border-radius: var(--spacing-l);
  bottom: 0;
  filter: brightness(0.75) saturate(1.2) contrast(0.85);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center;
  trsnsform: scale(1) translateZ(0);
  transition: 
    filter 200ms linear,
    transform 200ms linear;
}

.card:hover .card__background{
  transform: scale(1.05) translateZ(0);
}

.card-grid:hover > .card:not(:hover) .card__background{
  filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}

.card__content{
  left: 0;
  padding: var(--spacing-l);
  position: absolute;
  top: 0;
}

.card__category{
  color: var(--text-light);
  font-size: 0.9rem;
  margin-bottom: var(--spacing-s);
  text-transform: uppercase;
}

.card__heading{
  color: var(--text-lighter);
  font-size: 1.9rem;
  text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
  line-height: 1.4;
  word-spacing: 100vw;
}






/* 최상단 메뉴바 스타일 */
#topMenu {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #f8f9fa;
    color: black;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

/* 햄버거 메뉴 기본 숨김 */
#hamburgerMenu {
    display: none;
    font-size: 30px;
    cursor: pointer;
}

/* 메뉴 항목 스타일 */
#menu, #authMenu {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* 메뉴 항목 공통 스타일 */
#menu li, #authMenu li {
    margin-right: 20px;
}

/* 링크 스타일 */
#menu li a, #authMenu li a {
    color: #343a40;
    text-decoration: none;
    font-size: 16px;
}

#menu li a:hover, #authMenu li a:hover {
    color: #007bff;
}

/* 반응형 미디어 쿼리 */
@media (max-width: 1050px) {
	img {
	    vertical-align: baseline !important; /* 강제로 baseline으로 설정 */
	}
	
	#inc01 .big_txt {
	    padding-left: 50px;
	    font-size: 48px;
    }
	
    #menu {
        display: none; /* 작은 화면에서 메뉴 숨기기 */
        flex-direction: column;
        width: 100%;
        background-color: #f8f9fa;
        padding: 10px 0;
        position: absolute;
        top: 115px;
        left: 0;
        padding: 40px 0;
    }

    #menu.active, #authMenu.active {
        display: flex; /* 메뉴가 열릴 때 */
    }

    #menu li, #authMenu li {
        margin-right: 0;
        margin-bottom: 10px;
        text-align: center;
    }

    #hamburgerMenu {
        display: block;
        font-size: 85px;
    }
    
    #menu li a, #authMenu li a{
		font-size: 28px;
		padding: 20px;	
	}
	
	ul > li {
	  margin: 35px 20px;
	}
	
	#logo img{
		width: 120px;
		height: 120px;
	}
	
	.marquee_title h2 {
	  font-size: 45px;
	  color: #303131;
	  margin-top: 7%;
	  text-align: center;
	  margin-bottom: 6%;
	}
	ul > li.big > a > img {
    	width: 260px;
    	height: auto;
	}
	ul > li.small > a > img {
    	width: 195px;
    	height: auto;
	}
	
	.text-wrap h2{
	    font-size: 60px;
	    margin-bottom: 27px;
	}
	
	.text-wrap p{
		font-size: 33px;
	}
	
	#kakao-image{
		width: 155px;
		height: auto;
	}
}

/* 아이콘 스타일 */
.icon-person:before {
    content: "\1F464"; /* 유니코드 사람 아이콘 */
}

.icon-signup:before {
    content: "\1F465"; /* 유니코드 회원가입 아이콘 */
}

/* 기존 섹션과 내용이 메뉴바에 가리지 않도록 여백 추가 */
body {
    padding-top: 60px; 
}







/* main audio part */
#audiodrama{
	background-color: #f7f7f7;
}

.audiodrama-section .section-wrap{
	padding: 80px 0 120px;
	max-width: 100%;
	height: 850px;
}

.section-wrap{
	margin: 0 auto;
	max-width: 1440px;
	overflow: hidden;
	text-align: center;
}

.audiodrama-section .section-wrap .text-wrap{
	margin-bottom: 60px;
}

.text-wrap h2{
	font-weight: 700;
    font-size: 49px;
    line-height: 130%;
    letter-spacing: -.01em;
    color: #242424;
    margin-bottom: 24px;
    text-align: center;
}

.text-wrap p{
	font-size: 22px;
    line-height: 160%;
    letter-spacing: -.6px;
    color: #555;
}

.section-wrap .video-wrap .audiodrama-section{
	max-width: 730px;
    display: block;
    margin: 0 auto;
    -webkit-filter: drop-shadow(5px 5px 50px rgba(0, 0, 0, .03)) drop-shadow(12px 12px 32px rgba(0, 0, 0, .1));
    filter: drop-shadow(5px 5px 50px rgba(0, 0, 0, .03)) drop-shadow(12px 12px 32px rgba(0, 0, 0, .1));
    position: relative;
}





/* 반응형 디자인: 작은 화면에서 폰트 크기 조정 */
@media (max-width: 768px) {
    #inc01 .big_txt {
    	position: relative;
	    padding-left: 50px;
	    font-size: 30px;
	    font-weight: 700;
	    line-height: 1.2;
        color: rgba(255,255,255,.2)
    }
    .marquee_title h2 {
	  font-size: 25px;
	  color: #303131;
	  margin-top: 5%;
	  text-align: center;
	  margin-bottom: 7%;
	}
	ul > li.big > a > img {
	  width: 180px;
	  margin-bottom: 20px;
	  transition: transform 0.3s;
	}
	
	ul > li.small > a > img {
	  width: 135px;
	  margin-bottom: 20px;
	  transition: transform 0.3s;
	}
	
	.text-wrap h2{
	    font-size: 40px;
	    margin-bottom: 23px;
	}
	
	.text-wrap p{
		font-size: 20px;
	}
	
	.audiodrama-section .section-wrap{
		height: 810px;
	}
}

@media (max-width: 600px) {
    #inc01 .big_txt {
    	position: relative;
	    padding-left: 25px; 
	    font-size: 24px;
	    font-weight: 700;
	    line-height: 1.2;
        color: rgba(255,255,255,.2)
    }
    .marquee_title h2 {
	  font-size: 24px;
	  color: #303131;
	  margin-top: 7%;
	  text-align: center;
	  margin-bottom: 7%;
	}
	ul > li.big > a > img {
	  width: 160px;
	  margin-bottom: 20px;
	  transition: transform 0.3s;
	}
	
	ul > li.small > a > img {
	  width: 130px;
	  margin-bottom: 20px;
	  transition: transform 0.3s;
	}
	
	.text-wrap h2{
	    font-size: 38px;
	    margin-bottom: 22px;
	}
	
	.text-wrap p{
		font-size: 19px;
	}
	
	.audiodrama-section .section-wrap{
		height: 800px;
	}
}

@media (max-width: 450px) {
    #inc01 .big_txt {
    	position: relative;
	    padding-left: 25px;
	    font-size: 20px;
	    font-weight: 700;
	    line-height: 1.2;
        color: rgba(255,255,255,.2)
    }
    .marquee_title h2 {
	  font-size: 23px;
	  color: #303131;
	  margin-top: 10%;
	  text-align: center;
	}
	ul > li.big > a > img {
	  width: 150px;
	  margin-bottom: 20px;
	  transition: transform 0.3s;
	}
	
	ul > li.small > a > img {
	  width: 130px;
	  margin-bottom: 20px;
	  transition: transform 0.3s;
	}
	
	.text-wrap h2{
	    font-size: 35px;
	    margin-bottom: 22px;
	}
	
	.text-wrap p{
		font-size: 18px;
	}
	
	.audiodrama-section .section-wrap{
		height: 780px;
	}
}

@media (max-width: 390px) {
    #inc01 .big_txt {
    	position: relative;
	    padding-left: 20px;
	    font-size: 17px;
	    font-weight: 700;
	    line-height: 1.2;
        color: rgba(255,255,255,.2)
    }
    ul > li.big > a > img {
	  width: 130px;
	  margin-bottom: 20px;
	  transition: transform 0.3s;
	}
	
	ul > li.small > a > img {
	  width: 115px;
	  margin-bottom: 20px;
	  transition: transform 0.3s;
	}
}

@media (max-width: 360px) {
    #inc01 .big_txt {
    	position: relative;
	    padding-left: 14px;
	    font-size: 14px;
	    font-weight: 700;
	    line-height: 1.2;
        color: rgba(255,255,255,.2)
    }
    ul > li.big > a > img {
	  width: 125px;
	  margin-bottom: 20px;
	  transition: transform 0.3s;
	}
	
	ul > li.small > a > img {
	  width: 105px;
	  margin-bottom: 20px;
	  transition: transform 0.3s;
	}
	.text-wrap h2{
	    font-size: 28px;
	    margin-bottom: 22px;
	}
	
	.text-wrap p{
		font-size: 15px;
	}
	
	.audiodrama-section .section-wrap{
		height: 700px;
	}
}

@media (max-width: 315px) {
    #inc01 .big_txt {
    	position: relative;
	    padding-left: 12px;
	    font-size: 12px;
	    font-weight: 700;
	    line-height: 1.2;
        color: rgba(255,255,255,.2)
    }
    .marquee_title h2 {
	  font-size: 18px;
	  color: #303131;
	  margin-top: 5%;
	  text-align: center;
	}
	ul > li.big > a > img {
	  width: 110px;
	  margin-bottom: 20px;
	  transition: transform 0.3s;
	}
	
	ul > li.small > a > img {
	  width: 100px;
	  margin-bottom: 20px;
	  transition: transform 0.3s;
	}
}

/* 반응형 디자인: 작은 화면에서 이미지 및 크기 조정 */
@media (max-width: 768px) {
    #inc01 {
	    padding-top:140px;
		height:320px;
		background-image: url('../image/mainbaner.png');
		background-size: cover;
		background-position: top;
		background-repeat: no-repeat;
		font-family:'Pretendard'

    }
}

@media (max-width: 450px) {
    #inc01 {
	    padding-top:100px;
		height:250px;
		background-image: url('../image/mainbaner.png');
		background-size: contain;
		background-position: top;
		background-repeat: no-repeat;
		font-family:'Pretendard'

    }
}

@media (max-width: 360px) {
    #inc01 {
	    padding-top:85px;
		height:220px;
		background-image: url('../image/mainbaner.png');
		background-size: contain;
		background-position: top;
		background-repeat: no-repeat;
		font-family:'Pretendard'

    }
}

@media (max-width: 315px) {
    #inc01 {
	    padding-top:73px;
		height:200px;
		background-image: url('../image/mainbaner.png');
		background-size: contain;
		background-position: top;
		background-repeat: no-repeat;
		font-family:'Pretendard'

    }
}


