@charset "UTF-8";
@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  vertical-align: top;
  border: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: #fffdf7;
  font-family: 'NanumSquareNeo-Variable';
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

.marquee_title {
  padding: 0 30px;
`  text-align: center;
}

.marquee_title h2 {
  font-size: 30px;
  color: #303131;
  margin-top: 5%;
  text-align: center;
  margin-bottom: 7%;
}

.icon_area {
  margin-top: 5%;
  position: relative;
}

.icon_area img {
  width: 30px;
  height: 30px;
}

.pause {
  position: absolute;
  right: 0;
}

.play {
  position: absolute;
  right: 0;
  display: none;
}

ul {
  display: flex;
  flex-wrap: no-wrap;
  align-items: center;
}

ul > li {
  margin: 0 20px;
}

ul > li > a > h3 {
  color: #fff;
  font-size: 16px;
  margin-bottom: 10px;
}

ul > li > a > span {
  color: #bbb;
  font-size: 13px;
}

ul > li.big > a > img {
  width: 200px;
  margin-bottom: 20px;
  transition: transform 0.3s;
}

ul > li.small > a > img {
  width: 150px;
  margin-bottom: 20px;
  transition: transform 0.3s;
}

ul > li:hover img {
  transform: scale(0.95);
  transition: transform 0.3s;
  filter: brightness(0.5);
}

.marquee_conts {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.marquee_conts2 {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.marquee_conts ul,
.marquee_conts2 ul {
  display: flex;
  flex-direction: row; 
  align-items: center;
}

.marquee_conts2 ul {
  flex-direction: row-reverse;
}


/* 메인 타이틀 */
a{text-decoration:none}
li{list-style:none}
a{text-decoration:none}
*, :after, :before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}

#inc01{
	padding-top:280px;
	height:600px;
	background-image: url('../image/mainbaner.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	font-family:'Pretendard'
}
#inc01 .big_txt {
    position: relative;
    padding-left:80px;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2;
    color: rgba(255,255,255,.2)
}

#inc01 .big_txt .b_txt {
    position: relative;
    width: max-content;
    background: linear-gradient(to right, #fff, #fff) no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 0%;
    transition: background-size cubic-bezier(.1,.5,.5,1) 0.5s
}

#inc01 .big_txt .brac_ket {
    display: block;
    position: absolute;
    left: 300px;
    bottom: -50px
}





/* 반응형 디자인: 작은 화면에서 폰트 크기 조정 */
@media (max-width: 768px) {
    #inc01 .big_txt {
    	position: relative;
	    padding-left: 50px; /* 패딩 줄이기 */
	    font-size: 30px;
	    font-weight: 700;
	    line-height: 1.2;
        color: rgba(255,255,255,.2)
    }
    .marquee_title h2 {
	  font-size: 25px;
	  color: #303131;
	  margin-top: 5%;
	  text-align: center;
	  margin-bottom: 7%;
	}
	ul > li.big > a > img {
	  width: 180px;
	  margin-bottom: 20px;
	  transition: transform 0.3s;
	}
	
	ul > li.small > a > img {
	  width: 135px;
	  margin-bottom: 20px;
	  transition: transform 0.3s;
	}
}

@media (max-width: 600px) {
    #inc01 .big_txt {
    	position: relative;
	    padding-left: 25px; 
	    font-size: 24px;
	    font-weight: 700;
	    line-height: 1.2;
        color: rgba(255,255,255,.2)
    }
    .marquee_title h2 {
	  font-size: 24px;
	  color: #303131;
	  margin-top: 7%;
	  text-align: center;
	  margin-bottom: 7%;
	}
	ul > li.big > a > img {
	  width: 160px;
	  margin-bottom: 20px;
	  transition: transform 0.3s;
	}
	
	ul > li.small > a > img {
	  width: 130px;
	  margin-bottom: 20px;
	  transition: transform 0.3s;
	}
}

@media (max-width: 450px) {
    #inc01 .big_txt {
    	position: relative;
	    padding-left: 25px; /* 패딩 줄이기 */
	    font-size: 20px;
	    font-weight: 700;
	    line-height: 1.2;
        color: rgba(255,255,255,.2)
    }
    .marquee_title h2 {
	  font-size: 23px;
	  color: #303131;
	  margin-top: 10%;
	  text-align: center;
	}
	ul > li.big > a > img {
	  width: 150px;
	  margin-bottom: 20px;
	  transition: transform 0.3s;
	}
	
	ul > li.small > a > img {
	  width: 130px;
	  margin-bottom: 20px;
	  transition: transform 0.3s;
	}
}

@media (max-width: 390px) {
    #inc01 .big_txt {
    	position: relative;
	    padding-left: 20px; /* 패딩 줄이기 */
	    font-size: 17px;
	    font-weight: 700;
	    line-height: 1.2;
        color: rgba(255,255,255,.2)
    }
    ul > li.big > a > img {
	  width: 130px;
	  margin-bottom: 20px;
	  transition: transform 0.3s;
	}
	
	ul > li.small > a > img {
	  width: 115px;
	  margin-bottom: 20px;
	  transition: transform 0.3s;
	}
}

@media (max-width: 360px) {
    #inc01 .big_txt {
    	position: relative;
	    padding-left: 14px; /* 패딩 줄이기 */
	    font-size: 14px;
	    font-weight: 700;
	    line-height: 1.2;
        color: rgba(255,255,255,.2)
    }
    ul > li.big > a > img {
	  width: 125px;
	  margin-bottom: 20px;
	  transition: transform 0.3s;
	}
	
	ul > li.small > a > img {
	  width: 105px;
	  margin-bottom: 20px;
	  transition: transform 0.3s;
	}
}

@media (max-width: 315px) {
    #inc01 .big_txt {
    	position: relative;
	    padding-left: 12px; /* 패딩 줄이기 */
	    font-size: 12px;
	    font-weight: 700;
	    line-height: 1.2;
        color: rgba(255,255,255,.2)
    }
    .marquee_title h2 {
	  font-size: 18px;
	  color: #303131;
	  margin-top: 5%;
	  text-align: center;
	}
	ul > li.big > a > img {
	  width: 110px;
	  margin-bottom: 20px;
	  transition: transform 0.3s;
	}
	
	ul > li.small > a > img {
	  width: 100px;
	  margin-bottom: 20px;
	  transition: transform 0.3s;
	}
}

/* 반응형 디자인: 작은 화면에서 이미지 및 크기 조정 */
@media (max-width: 768px) {
    #inc01 {
	    padding-top:140px;
		height:320px;
		background-image: url('../image/mainbaner.png');
		background-size: cover;
		background-position: top;
		background-repeat: no-repeat;
		font-family:'Pretendard'

    }
}

@media (max-width: 450px) {
    #inc01 {
	    padding-top:100px;
		height:250px;
		background-image: url('../image/mainbaner.png');
		background-size: contain;
		background-position: top;
		background-repeat: no-repeat;
		font-family:'Pretendard'

    }
}

@media (max-width: 360px) {
    #inc01 {
	    padding-top:85px;
		height:220px;
		background-image: url('../image/mainbaner.png');
		background-size: contain;
		background-position: top;
		background-repeat: no-repeat;
		font-family:'Pretendard'

    }
}

@media (max-width: 315px) {
    #inc01 {
	    padding-top:73px;
		height:200px;
		background-image: url('../image/mainbaner.png');
		background-size: contain;
		background-position: top;
		background-repeat: no-repeat;
		font-family:'Pretendard'

    }
}


